.footer {
  background: $blue;
  color: $white;
  text-align: center;
  padding: 2rem 0;

  a {
    color: $white;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    text-align: center;
    font-size: $normal;
    padding: 0;
    line-height: 4rem;
    margin-bottom: 4rem;
  }

  &__copyright {
    font-size: $small;
  }
}
