.hero {
  margin-bottom: 10rem;

  &__content {
    display: grid;
    padding: 0 2.5rem;

    @mixin atMedium {
      margin-right: auto;
      grid-template-columns: 40rem 1fr;
      column-gap: 0;
      margin-left: 5rem;
    }

    @mixin atLarge {
      margin-left: 12vw;
      column-gap: 3rem;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    max-width: 140px;

    @mixin atMedium {
      max-width: 200px;
    }

    @mixin atExtraLarge {
      max-width: 272px;
    }
  }

  &__title {
    text-transform: uppercase;
    grid-template-columns: repeat(2, 1fr);
    font-size: 3.7rem;
    padding-top: 2rem;
    grid-row: 1;
    max-width: 45rem;
    place-self: center;
    line-height: 5rem;
    text-align: center;

    @mixin atExtraSmall {
      font-size: 6rem;
      max-width: 70rem;
      line-height: 7rem;
    }

    @mixin atSmall {
      font-size: 7.7rem;
      line-height: 10rem;
      max-width: 80rem;
    }

    @mixin atMedium {
      max-width: 80rem;
      grid-column: 2;
      font-size: 7.7rem;
      place-self: start;
      text-align: left;
    }
  }

  &__cta {
    border: none;
    background: $red;
    color: white;
    margin-top: 3.5rem;
    padding: 2.5rem 9rem;
    border-radius: 8px;
    font-size: 2.4rem;
    max-width: 50rem;
    place-self: center;
    text-decoration: none;

    &:hover {
      transition: background 0.2s ease-in-out;
      cursor: pointer;
      background: #ca5957;
    }
  }
}
